<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>
  <body>
      <header>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" href="{{site.baseurl}}/">
               <img src="{{ site.avatar }}" alt="Logo" style="width:40px;">
          </a>
          <ul class="navbar-nav">
              {% for category in site.categories %}
              {% capture category_name %}{{ category | first }}{% endcapture %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        {{ category_name }}
                    </a>
                    <div class="dropdown-menu">
                        {% for post in site.categories[category_name] %}
                            <a class="dropdown-item" href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a>
                        {% endfor %}
                    </div>
                </li>
                {% endfor %}
            <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/about">About</a></li>
          </ul>
        </nav>
      </header>

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">{{ site.name }}</h1>
            <p class="lead text-muted">{{ site.description }}</p>
        </div>
    </section>

    <main>
        <div class="container">
            {{ content }}
        </div>
    </main>

    <footer class="text-muted">
        <div class="container">
            {% include svg-icons.html %}
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% include analytics.html %}
  </body>
</html>
